@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px
}

body{
    height: 100vh;
}

body, div{
    display: grid;
    place-items: center
}

div{
    padding: 5vmin;
    border: 10px solid;
    border-image: repeating-linear-gradient(135deg, rgb(0, 75, 188) 0 3vmin, rgb(106, 0, 188) 0 6vmin) 10;

    -webkit-mask: conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0) var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
                conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0) 0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
                 /*   como funciona: "mask: gradient(gradient) 40px 20px / 50px 60px; mask positioned 40px from the top and 20px from the left and with a width of 50px and height of 60px"*/
                linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .3s, -webkit-mask-position .3s .3s;

    box-shadow: 0px 0px 10px 10px repeating-linear-gradient(135deg, rgb(106, 0, 188) 0 3vmin, rgb(0, 75, 188) 0 6vmin);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30vmin;
    transition: color 300ms linear, text-shadow 300ms linear
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10vmin;
    font-weight: bold;
    transition: color 300ms linear, text-shadow 300ms linear;
}

div:not(:hover) p, h1{
    color: transparent;
    text-shadow: 0px 0px 1px rgb(128, 128, 128), 1px 0px rgb(40, 40, 40), 0px 1px rgb(40, 40, 40), -1px 0px rgb(40, 40, 40), 0px -1px rgb(40, 40, 40);
}

div:hover p{
    color: rgb(0, 75, 188);
    text-shadow: 0px 0px 40px rgb(0, 72, 255), 1px 0px currentColor, 0px 1px currentColor, -1px 0px currentColor, 0px -1px currentColor;
    animation: pisca .3s linear;
}

@keyframes pisca {
    0%{
        color: rgb(0, 75, 188);
        text-shadow: 0px 0px 20px rgb(0, 72, 255), 1px 0px currentColor, 0px 1px currentColor, -1px 0px currentColor, 0px -1px currentColor;
    }

    50%{
        color: rgb(57, 57, 57);
        text-shadow: 1px 0px rgb(40, 40, 40), 0px 1px rgb(40, 40, 40), -1px 0px rgb(40, 40, 40), 0px -1px rgb(40, 40, 40);
    }

    75%{
        color: rgb(0, 75, 188);
        text-shadow: 0px 0px 20px rgb(0, 72, 255), 1px 0px currentColor, 0px 1px currentColor, -1px 0px currentColor, 0px -1px currentColor;
    }

    100%{
        color: rgb(61, 61, 61);
        text-shadow: 1px 0px rgb(40, 40, 40), 0px 1px rgb(40, 40, 40), -1px 0px rgb(40, 40, 40), 0px -1px rgb(40, 40, 40);
    }

}

div:hover h1{
    color: rgb(106, 0, 188);
    text-shadow: 0px 0px 20px rgb(94, 0, 165), 1px 0px currentColor, 0px 1px currentColor, -1px 0px currentColor, 0px -1px currentColor;
}

div:hover{
    text-shadow: 0px 0px 10px currentColor;
    transition: .3s, -webkit-mask-size .3s .3s;
    --_i: 100%;
}