@charset "UTF-8";

/* estilo */
*{
    margin: 0px;
    padding: 0px
}

body{
    background:rgb(21, 21, 21) url(imagens/imagem.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    backdrop-filter: blur(2px);
}

main{
    display: flex;
    justify-content: center;
    height: calc(100vh - 10rem);
    width: 70vmin;
    flex-wrap: wrap;
    margin: auto;
}

header{
    padding: 1rem;
    background-color: rgba(22, 20, 20, 0.808);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.568);
    margin-bottom: 1rem
}
h1, p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    color: transparent;
    text-shadow: 0px 0px 1px rgba(245, 245, 245, 0.618)
}

div{
    min-height: 10vmin;
    min-width: 10vmin;
    margin: 1rem;
    background-color: rgba(245, 245, 245, 0.459);
    backdrop-filter: blur(1px);
    border-radius: .5rem;
    transition: transform 200ms linear;
}

footer{
    padding: 1rem;
    background-color: rgba(22, 20, 20, 0.808);
    backdrop-filter: blur(4px);
    border-top: 1px solid rgba(255, 255, 255, 0.568);
    margin-top: 1rem;
    text-align: center;
}

/* interação */

#d1:hover{
    transform: scale(2)
}

#d2:hover{
    transform: rotate(45deg)
}

#d3:hover{
    transform: skew(10deg, 20deg)
}

#d4:hover{
    transform: translate(50px, -50px)
}

#d5:hover{
    transform: matrix(0.7, -0.2, 0.1, 0.7, 0.2, 0.1)
}