@charset "UTF-8";

:root{
    --cor-fundo-heder-e-footer: #652d36;
    --cor-fundo-body: rgb(39, 28, 28);
    --borda-div: rgba(255, 255, 255, 0.6);
    --borda-div-hover: rgb(96, 154, 96, 0.6);
    --borda-div-nao-hover: rgba(161, 101, 101, 0.6);
}

*{
    margin: 0px;
    padding: 0px
}

body{
    background-color: var(--cor-fundo-body)
}

header{
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 80px;
    background-color: var(--cor-fundo-heder-e-footer);
    border-bottom: 3px solid rgb(168, 151, 151);
    color: whitesmoke;
    text-align: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 550px;
    max-height: 550px;
    margin: auto
}

div{
    height: 150px; width: 150px;
    background-color: rgba(94, 94, 94, 0.6);
    border-top: 1px solid var(--borda-div);
    border-left: 1px solid var(--borda-div);
    box-shadow: inset 4px 4px 10px var(--borda-div);
    margin: 10px;
    transition: .2s;
    border-radius: 20px;
}

main:hover > :not(:hover){
    background-color: rgb(113, 25, 25);
    border-top: 1px solid var(--borda-div-nao-hover);
    border-left: 1px solid var(--borda-div-nao-hover);
    box-shadow: inset 4px 4px 10px var(--borda-div-nao-hover);
}

div:hover{
    background-color: rgb(25, 99, 5);
    border-top: 1px solid var(--borda-div-hover);
    border-left: 1px solid var(--borda-div-hover);
    box-shadow: inset 4px 4px 10px var(--borda-div-hover);
}