@charset "UTF-8";

body{
    background: whitesmoke url(imagens/imagem.png) no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center
}

main{
    display: inline-block;
    background-color: rgba(245, 245, 245, 0.693);
    border-radius: .5rem;
    padding: 1rem
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}

div{
    overflow: hidden;
    max-height: 300px;
    max-width: 700px;
    margin: auto;
    border-radius: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: 2px solid rgba(68, 147, 199, 0.875)
}

img{
    width: 100%;
    height: 100%
}

#im1{
    transition: scale 1000ms steps(5)
}

#im2{
    transition: scale 1000ms linear
}

#im3{
    transition: scale 1000ms ease-in
}

div:hover:active #im1{
    scale: 170%
}

div:hover:active #im2{
    scale: 170%
}

div:hover:active #im3{
    scale: 170%
}:active