@charset "UTF-8";

:root{
    --tamanho_divs: 15rem;
    --tamanho_texto: 3rem
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: monospace;
}

header{
    height: 6rem;
    width: 100%;
    text-align: center
}
header > h1{
    font-size: 2rem;
    line-height: 6rem
}

main{
    display: flex;
    height: calc(100vh - 6rem);
    align-items: center;
    justify-content: center;
    flex-direction: column
}
#caixas{
    position: relative;
    display:flex;
    height: calc(var(--tamanho_divs) + 2rem);
    width: calc(var(--tamanho_divs) + 2rem);
    border: 3px solid;
    border-radius: 1rem 1rem 0 0;
    
    overflow: auto; /* importante para o bagulho de snap*/
    scroll-snap-type: x mandatory; /* importante para o bagulho de snap*/

    padding: 2rem;
    gap: .5rem;
    scroll-padding: 2rem; /* importante para o bagulho de snap*/ /*é o padding que vai ter quando o scroll snap acontecer*/

    justify-content: start;
    align-items: center;
    scroll-behavior: smooth;
}

#caixas > div{
    flex: 0 0 100%; /* importante para o bagulho de snap*/ /*0 grow 0 shrink 100% parent width (é o que cada coisa faz.(flex: 0 0 100% )*/

    scroll-snap-align: start;/* importante para o bagulho de snap*/

    height: var(--tamanho_divs);
    width: var(--tamanho_divs);

    text-align: center;
    line-height: var(--tamanho_divs);

    background-color: tomato;
    border-radius: 1rem;
    
    font-size: var(--tamanho_texto);
}

p{
    display: inline-block;
    width: 25rem;
    font-size: 1.3rem;
    margin: 1rem;
    text-indent: 1rem
}

footer{
    height: 4rem;
    width: 100%;
    text-align: center;
}

footer p{
    line-height: 4rem;
    color: rgb(0, 81, 255)
}

footer span{
    visibility: hidden;
}

footer:hover span{
    visibility: visible;
}