@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

:root{
    --gradient: linear-gradient(to right,  rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%);
    --fundo: #0D0D0D;
}

body{
    background-color: var(--fundo);
}

main{
    width: 100vw;
    height: 8px;

    overflow: hidden;
}

div{
    width: 200vw;
    height: 8px;

    background-image: var(--gradient);
    position: relative;
    left: 0%;

    animation: maxer 3s infinite linear alternate-reverse;
}

@keyframes maxer {
    from{
        left: 0vw
    }

    to{
        left: -100vw
    }
}

