@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1,
p {
	text-align: center;
	margin: 20px
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;

	outline: solid 1px black;

	min-width: 20rem;
	max-width: 25vw
}

.image {
	outline: solid 1px black;
	/* min-height: 10rem; */
	width: 100%;
	height: 100%;
	overflow: hidden;
}

img {
	aspect-ratio: auto;
	min-width: 0;
	object-fit: cover;
	/* it looks ugly with this, but you can see all the image. */
	/* object-fit: contain; */
	height: 100%;
	width: 100%;
}

/* .card:nth-child(where they are) { */
/* 	order: the more negative the number, the first it will be. */
/* } */

.card:nth-child(4) {
	order: -2
}

.card:nth-child(5) {
	order: -1
}

.card:nth-child(7) {
	order: -1
}

.card:nth-child(8) {
	order: -1
}

.card:nth-child(9) {
	order: -1
}

.card:nth-child(10) {
	order: -1
}

.card:nth-last-child(2) {
	order: -1
}
