@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px; 
    font-family: 'Courier New', Courier, monospace;
    background-color:rgba(0, 110, 0, 0.146);
    box-sizing: border-box;
}

header{
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 128, 0, 0.326);
    box-shadow: inset 0px 0px 20px 0px rgba(0, 85, 0, 0.75);
}

main{
    text-align: center;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    opacity: 1;
}

p{
    font-weight: 500;
    text-align: left;
    text-indent: 20px;
}

img{
    display: flex;
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    border: 8px double rgba(0, 33, 0, 0.838);
}

footer{
    opacity: 1;
    padding: 30px;
    color: transparent;
    text-shadow: 0px 0px 1px rgb(0, 58, 0);
}
footer > p{
    text-align: center;
}